<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header.html :: head"></head>
<title th:text="${titulo}">titulo</title>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title texto_centrado" th:text="${titulo}">Card title</h5>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cuit</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direcci&oacute;n</th>
                    <th scope="col">C&oacute;digo Postal</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Pais</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="empresa : ${data.content}">

                    <tr>
                        <td th:text="${empresa.id}"></td>
                        <td th:text="${empresa.cuit}"></td>
                        <td th:text="${empresa.nombre}"></td>
                        <td th:text="${empresa.direccion}"></td>
                        <td th:text="${empresa.codigoPostal}"></td>
                        <td th:text="${empresa.ciudad}"></td>
                        <td th:text="${empresa.provincia}"></td>
                        <td th:text="${empresa.pais}"></td>
                    </tr>

                </th:block>
                </tbody>
            </table>


            <nav th:if="${data.totalPages > 0}" aria-label="navigation">
                <ul class="pagination justify-content-center">

                    <th:block th:if="${data.hasPrevious()}">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/empresas/indexempresa.html(size=${data.size},page=${data.number})}"
                                                 href="#"> <span aria-hidden="true">&laquo;</span> Anterior
                        </a></li>
                    </th:block>

                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <li th:if="${data.number+1 == pageNumber}"
                            class="page-item active"><span class="page-link"
                                                           th:text=${pageNumber}>#</span></li>
                        <li th:unless="${data.number+1 == pageNumber}"
                            class="page-item"><a class="page-link"
                                                 th:href="@{/empresas/indexempresa.html(size=${data.size}, page=${pageNumber})}"
                                                 th:text=${pageNumber} href="#">1</a></li>
                    </th:block>

                    </th:block>
                    <th:block th:if="${data.hasNext()}">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/empresas/indexempresa.html(size=${data.size},page=${data.number+2})}"
                                                 href="#" aria-label="Siguiente"> Siguiente <span aria-hidden="true">&raquo;</span></a></li>
                    </th:block>

                </ul>
            </nav>

        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>