<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Producto Registrado</title>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container">

    <div class="col-sm-6" th:if="${productoInfo}" th:object="${productoInfo}">
        <div class="card mt-3">
            <h3 class="card-header">Producto</h3>
            <div class="card-block">
                <h4 class="card-title" th:text="*{codigo}"></h4>
                <h5 class="card-subtitle mb-4 text-muted" th:text="*{nombre}"></h5>
                <h6 class="card-subtitle mb-4 text-muted"><i class="fas fa-list-ul" aria-hidden="true"></i> [[*{descripcion}]]</h6>
            </div>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>