<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:text="${titulo}">titulo</title>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container">

    <form method="post" th:action="@{/factura/crear}" th:object="${encabezado}">
        <br/>
        <h2>Introduzca los datos de la Factura</h2>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <h3>Cliente</h3>
            </div>
            <div class="col-md-6">
                <select name="cliente" class="form-control form-control-lg" th:field="*{cliente}">
                    <option value="" hidden>Seleccione un cliente...</option>
                    <option th:each="cliente : ${data}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>

                </select>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row" th:class="${#fields.hasErrors('numero')} ? 'form-group row has-danger' : (*{numero == null} ? 'form-group row' : 'form-group row has-success')">
            <div class="col-md-3">
                <h3>Numero Factura</h3>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input th:field="*{numero}" type="text" th:class="${#fields.hasErrors('numero')} ? 'form-control form-control-danger' : (*{numero == null} ? 'form-control' : 'form-control form-control-success')" placeholder="Ingrese el numero de factura" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('numero')}" class="form-control-feedback">El número debe tener entre 1 y 11 caracteres</div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row" th:class="${#fields.hasErrors('letra')} ? 'form-group row has-danger' : (*{letra == null} ? 'form-group row' : 'form-group row has-success')">
            <div class="col-md-3">
                <h3>Categoria Factura</h3>
            </div>
            <div class="col-md-6">
                <select class="form-control form-control-lg" th:field="*{letra}" >
                    <option value="" hidden>Seleccione la categoria...</option>
                    <option th:value="'A'"th:text="A"></option>
                    <option th:value="'B'"th:text="B"></option>
                    <option th:value="'C'"th:text="C"></option>
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>


        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-md btn-block">Siguiente Paso</button>
            </div>
        </div>

    </form>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>