<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header.html :: head"></head>
<title th:text="${titulo}">titulo</title>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container">

    <form method="post" th:action="@{/factura/crear}" th:object="${encabezado}">
        <br/>
        <h2>Introduzca los datos de la Factura</h2>
        <hr/>
        <div class="form-group row">
            <div class="col-md-3">
                <h3>Cliente</h3>
            </div>
            <div class="col-md-6">
                <select name="cliente" class="form-control form-control-lg" th:field="*{cliente}" th:class="${#fields.hasErrors('cliente')} ? 'form-control form-control-danger' : (*{cliente == null} ? 'form-control' : 'form-control form-control-success')">
                    <option value="null" hidden>Seleccione un cliente...</option>
                    <option th:each="cliente : ${data}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>

                </select>
                <div th:if="${#fields.hasErrors('cliente')}" class="form-control-feedback">El cliente debe ser seleccionado</div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <h3>Numero Factura</h3>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input th:field="*{numero}" type="text" th:class="${#fields.hasErrors('numero')} ? 'form-control form-control-danger' : (*{numero == null} ? 'form-control' : 'form-control form-control-success')" placeholder="Ingrese el numero de factura" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('numero')}" class="form-control-feedback">El número debe tener entre 1 y 11 caracteres</div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <h3>Categoria Factura</h3>
            </div>
            <div class="col-md-6">
                <select name="letra" class="form-control form-control-lg" th:field="*{letra}" th:class="${#fields.hasErrors('letra')} ? 'form-control form-control-danger' : (*{letra == null} ? 'form-control' : 'form-control form-control-success')" >
                    <option th:value="'A'"th:text="A"></option>
                    <option th:value="'B'"th:text="B"></option>
                    <option th:value="'C'"th:text="C"></option>
                </select>
                <div th:if="${#fields.hasErrors('letra')}" class="form-control-feedback">La categoría debe ser seleccionada</div>
            </div>
            <div class="col-md-3"></div>
        </div>


        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-md btn-block">Siguiente Paso</button>
            </div>
        </div>

    </form>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>