<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Modelo de Factura</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <h4>Nombre empresa</h4>
                <h4>Direccion Empresa</h4>
                <h4>Ciut Empresa</h4>
                <h4>Codigo Postal</h4>
                <h4>Ciudad</h4>
                <h4>Provincia</h4>
                <h4>Pais</h4>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Fecha Factura</h4>
            <h4>Numero Factura</h4>
            <h4> Tipo Factura</h4>
        </div>
        <div class="col-md-4">
            <ul>
                <h4>Nombre Cliente</h4>
                <h4>Direccion Cliente</h4>
                <h4>Ciut Cliente</h4>
            </ul>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Descripcion Producto</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="5">
                    <div style="padding-left: 80%;color:black;border: solid black 1px;">
                        <h3 >TOTAL:</h3>
                        <h3>21022</h3>
                    </div>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">

    </div>
</div>
</body>
</html>