<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Factura</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Hoja de Estilo-->
    <link rel="stylesheet" type="text/css" href="static/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>

<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="invoice-box" th:object="${encabezado}">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="4">
                <table>
                    <tr>
                        <td class="title">
                            <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
                        </td>

                        <td>
                            Número de Factura: <div class="lineamiento" th:text="*{numero}"></div><br>
                            Fecha de Factura: <div class="lineamiento" th:text="*{fecha}"></div><br>
                            Tipo de Factura: <div class="lineamiento" th:text="*{letra}"></div><br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="4">
                <table>
                    <tr>
                        <th:block th:each="i : ${empresa}">
                        <td>
                            <div class="lineamiento" th:text="${i.nombre}"></div><br>
                            CUIT: <div class="lineamiento" th:text="${i.cuit}"></div><br>
                            Dirección: <div class="lineamiento" th:text="${i.direccion}"></div>
                        </td>
                        </th:block>
                        <td>
                            Nombre Cliente: <div class="lineamiento" th:text="*{cliente.nombre}"></div><br>
                            Dirección: <div class="lineamiento" th:text="*{cliente.direccion}"></div><br>
                            Categoria: <div class="lineamiento" th:text="*{cliente.categoria}"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr class="heading">
            <td>
                Nombre
            </td>
            <td>
                Cantidad
            </td>
            <td>
                Precio Unitario
            </td>
            <td>
                Importe
            </td>
        </tr>
        <th:block th:each="i : ${items}">

            <tr class="item">
                <td th:text="${i.producto.nombre}"></td>
                <td th:text="${i.cantidad}"></td>
                <td th:text="${i.precioUnitario}"></td>
                <td th:text="${i.subTotal}"></td>
            </tr>

        </th:block>

        <tr class="total">
            <td></td>
            <td></td>
            <td></td>
            <td>
                Total: $ <div class="lineamiento" th:text="${total}"></div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>