<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header.html :: head"></head>
<title th:text="${titulo}">titulo</title>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container">

    <form method="post" th:action="@{/factura/observaciones/{id}(id=${id})}" th:object="${pie}">
        <br/>
        <h2>Introduzca los datos de la Factura</h2>
        <hr/>

        <div class="form-group row">
            <div class="col-md-3">
                <h3>Observaciones Factura</h3>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input th:field="*{observaciones}" type="text" th:class="${#fields.hasErrors('observaciones')} ? 'form-control form-control-danger' : (*{observaciones == null} ? 'form-control' : 'form-control form-control-success')" placeholder="Ingrese las observaciones de la factura"/>
                </div>
                <div th:if="${#fields.hasErrors('observaciones')}" class="form-control-feedback">Las observaciones tienen un maximo de 255 caracteres</div>
            </div>
            <div class="col-md-3"></div>
        </div>


        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-md btn-block">Terminar</button>
            </div>
        </div>

    </form>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>