<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>




    <title th:text="${titulo}">titulo</title>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container">

    <form method="post" th:action="@{/factura/agregarproductos/{id}(id=${id})}" th:object="${item}">
        <br/>
        <h2>Seleccione los Productos de la Factura</h2>
        <hr/>

        <div class="row">
            <div class="col-md-3">
                <h3>Productos</h3>
            </div>
            <div class="col-md-6">
                <select class="form-control form-control-lg" name="producto" th:field="*{producto}">
                    <option th:each="producto : ${productos}"  th:value="${producto.id}" th:text="${producto.nombre}"></option>
                z</select>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
                <div class="col-md-3">
                    <h4>Cantidad</h4>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input class="form-control text-center" th:field="*{cantidad}" type="text" th:class="${#fields.hasErrors('cantidad')} ? 'form-control form-control-danger' : (*{cantidad == null} ? 'form-control' : 'form-control form-control-success')" placeholder="introduzca cantidad a comprar" required="required"/>
                    </div>
                    <div th:if="${#fields.hasErrors('cantidad')}" class="form-control-feedback">La cantidad es obligatoria</div>
                </div>
                <div class="col-md-3"></div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <h4>Precio Unitario</h4>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input class="form-control text-center" th:field="*{precioUnitario}" type="text" th:class="${#fields.hasErrors('precioUnitario')} ? 'form-control form-control-danger' : (*{precioUnitario == null} ? 'form-control' : 'form-control form-control-success')" placeholder="introduzca precio unitario" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('precioUnitario')}" class="form-control-feedback">El precio es obligatoria</div>
            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="form-group row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-md btn-block">Añadir</button>
            </div>
            <div class="col-md-3">
                <a th:href="@{/factura/observaciones/{id}(id=${id})}" class="btn btn-primary btn-md btn-block">Continuar</a>
            </div>
        </div>

    </form>
</div>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>