<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sistema de Facturación</title>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div style="text-align: center">
    <h1>Menú Principal</h1>
</div>
<div class="container">
    <div class="row" style="padding: 100px"></div>
    <div class="row">
        <div class="col-md-2" >

        </div>
        <div class="col-md-8" style="text-align: center">
            <a style="border: 1.4px black solid" type="button" class="btn btn-primary btn-lg btn-block" th:href="@{/cliente/registrar}">Registrar Cliente</a>
        </div>
        <div class="col-md-2">

        </div>

    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <a style="border: 1.4px black solid" type="button" class="btn btn-primary btn-lg btn-block" th:href="@{/productos/registrar}">Registrar Producto</a>

        </div>
        <div class="col-md-2">

        </div>

    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <a style="border: 1.4px black solid" type="button" class="btn btn-primary btn-lg btn-block" th:href="@{/factura/generar}">Generar Factura</a>

        </div>
        <div class="col-md-2">

        </div>

    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <a style="border: 1.4px black solid" type="button" class="btn btn-primary btn-lg btn-block" href="#">Facturas Existentes</a>

        </div>
        <div class="col-md-2">

        </div>

    </div>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>