<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header.html :: head"></head>
<title th:text="${titulo}">titulo</title>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container">
    <div th:if="${mensaje}!=null">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5 th:text="${mensaje}"></h5>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title texto_centrado" th:text="${titulo}">Card title</h5>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">C&oacute;digo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direcci&oacute;n</th>
                    <th scope="col">Cuit</th>
                    <th scope="col">Categoria</th>
                    <th scope="col" colspan="2">
                        <div class="texto_centrado">Acción</div>
                    </th>

                </tr>
                </thead>
                <tbody>

                <th:block th:each="cliente : ${data.content}">

                    <tr>
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.codigo}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.direccion}"></td>
                        <td th:text="${cliente.cuit}"></td>
                        <td th:text="${cliente.categoria}"></td>
                        <td >
                            <a type="button" class="btn btn-danger"
                               th:href="@{/cliente/eliminar/{id}(id=${cliente.id})}"> Eliminar</a>
                        </td>
                        <td >
                            <a type="button" class="btn btn-warning"
                               th:href="@{/cliente/modificar/{id}(id=${cliente.id})}"> Modificar</a>
                        </td>
                    </tr>

                </th:block>
                </tbody>
            </table>


            <nav th:if="${data.totalPages > 0}" aria-label="navigation">
                <ul class="pagination justify-content-center">

                    <th:block th:if="${data.hasPrevious()}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/cliente/indexcliente(size=${data.size},page=${data.number})}"
                                                 href="#"> <span aria-hidden="true">&laquo;</span> Anterior</a></li>
                    </th:block>

                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <li th:if="${data.number+1 == pageNumber}"
                            class="page-item active"><span class="page-link"
                                                           th:text=${pageNumber}>#</span></li> <!-- en el th:if evaluamos si coincide con el N° de Pag actual, e imprimimos el texto-->
                        <li th:unless="${data.number+1 == pageNumber}"
                            class="page-item"><a class="page-link"
                                                 th:href="@{/cliente/indexcliente(size=${data.size}, page=${pageNumber})}"
                                                 th:text=${pageNumber} href="#">1</a></li> <!-- en el th:unless es el negativo del th:if, por lo tanto, si no coinciden se muestra el enlace a esa pag.-->
                    </th:block>

                    </th:block>
                    <th:block th:if="${data.hasNext()}">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/cliente/indexcliente(size=${data.size},page=${data.number+2})}"
                                                 href="#" aria-label="Siguiente"> Siguiente <span aria-hidden="true">&raquo;</span></a></li>
                    </th:block>

                </ul>
            </nav>

        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>